/* You can add custom styles here. */

// @import "plugins/numbered";

.book-subtitle {
  font-size: small;
}

.text-align-center {
  text-align: center;
}

.book-list-grouped {
  h3 {
    margin-bottom: 0;
  }
}
